html {
    scroll-behavior: smooth;
}
body {
    src: url(../font/Averta\ Cyrillic\ ExtraBold.woff2);
    src: url(../font/Averta\ Cyrillic\ SemiBold.woff2);
    src: url(../font/Averta\ Cyrillic\ Regular.woff2);
    src: url(../font/Averta\ Cyrillic\ Light.woff2);
    src: url(../font/TT\ Travels-DemiBold.woff2);
    src: url(../font/TT\ Travels-ExtraBold.woff2);
    src: url(../font/TT\ Travels-ExtraLight.woff2);
    src: url(../font/TT\ Travels-Regular.woff2);
    overflow-x: hidden;
    color: #fff;
    background-color: #141617;
}
.header {
    font-family: TT travels, sans-serif;
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header_nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.logo {
    margin-right: 20px;
}
.header_burger {
    display: none;
    position: relative;
    z-index: 3;
}
.active {
    font-weight: bold;
}
.header_nav {
    display: flex;
}
.header_nav li a {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
}
.header_nav li a:hover {
    font-weight: bold;
    transition: ease 0.1s;
}
.call  {
    display: flex;
    font-weight: 600;
    flex-wrap: nowrap;
    align-items: center;
}
.call_img {
    margin-left: 10px;
}
main, footer {
    font-family: Averta CY, sans-serif;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.header_main_content {
    display: flex;
    padding: 100px 0px;
    justify-content: space-between;
    position: relative;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5%;
}
span {
    display: block;
    
}
.header_subtitle {
    display: block;
    max-width: 400px;
}
.header_main_txt {
    position: absolute;
    line-height: 1.2;
}
.header_main_img {
    margin-left: 30%;   
}
.btn {
    margin-top: 40px;
    display: block;
    padding: 20px 35px;
    border-radius: 50px;
    font-weight: bold;
    background: rgb(120,67,160);
    background: linear-gradient(270deg, rgba(120,67,160,1) 0%, rgba(226,110,150,1) 63%);
    border: none;
    color: #fff;
    box-shadow: 0px 1px 16px -4px rgba(185,93,154,1);
    transition: linear .3s;
    
}

.btn:hover {
    box-shadow: 0px 1px 32px 0px rgba(185,93,154,1);
    
}
a {
    text-decoration: none;
    color: #fff;
}

/* MAIN */



/* Trust */
.trust {
    padding: 100px 0;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}
.subtitle {
    display: block;
    color: #808080;
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}

/* Slider */
.prev, .next {
    position: absolute;
    top: 15%;
    border: none;
    width: 50px;
    height: 50px;
}
.prev {
    left: 0;
    background: url(../img/prev.png);
    background-size: 100%;
}
.next {
    right: 0;
    background: url(../img/next.png);
    background-size: 100%;
}
.features_block {
    box-sizing: border-box;
    padding: 30px;
}
.trust_img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 55px;
}
h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.3;
}
.trust_txt {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #808080;
    letter-spacing: 1.5px;
}
.trust_span {
    margin-top: 36px;
}

/* About us */
.about_us {
    padding: 80px 0px 40px 0px;
}
.about_us_txt {
    width: 40%;
}
.about_title {
    text-align: left;
    margin-bottom: 40px;
}
p {
    font-size: 16px;
    color: #808080;
    margin-bottom: 20px;
}
.about_img {
    position: absolute;
    right: 0;
}


/* WORK */


.work {
    background-image: url(../img/work_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
.work_cnt {
    padding: 110px 0px;
}
.stage_items {
    display: flex;
    justify-content: space-around;
}
.num {
    display: block;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}
.stage_item {
    justify-content: center;
    padding-top: 6%;
    width: 20%;
}
.work_txt {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}



/* FOOTER */
footer {
    background-image: url(../img/footer_bg.png);
    background-size: cover;
}
.footer_cnt {
    padding: 100px 0px;
}
form {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
input {
    margin-bottom: 40px;
    border: none;
    color: #808080;
    background: transparent;
    letter-spacing: 1.2px;
    padding: 10px;
    border-bottom: 2px solid #808080;
}
.footer_btn {
    display: block;
    margin: 0 auto;
    width: 180px;
    border-radius: 50px;
    padding: 10px 40px;
    background: linear-gradient(295deg, rgba(56,19,194,1) 0%, rgba(226,110,150,1) 75%);
    box-shadow: none;
    transition: linear .3s;
}
.footer_btn:hover {
    box-shadow: 0px 1px 20px -4px #712dc8;
}



/* Media */
@media (max-width:1260px) {
    .container {
        width: 1060px;
    }
    .header {
        background-size: auto;
    }
    .header_main_img {
        margin-left: 40%;
    }
    .car_header {
        width: 650px;
    }
}
@media (max-width:1080px) {
    .container {
        width: 980px;
    }
    .header_main_img {
        margin-left: 38%;
    }
}
@media (max-width:1025px) {
    .container {
        width: 960px;
    }
    .header_main_img {
        margin-left: 40%;
    }
    .car_header {
        width: 600px;
    }
    .trust_span {
        margin-top: 10px;
    }
}
@media (max-width: 993px) {
    .container {
        width: 900px;
    }
    h1 {
        font-size: 40px;
    }
    .header_main_img {
        margin-left: 40%;
    }
    .car_header {
        width: 550px;
    }

}
@media (max-width:769px) {
    .container {
        width: 90%;
    }
    .call {
        margin-right: 5%;
    }
    .header_nav li a {
        margin-right: 20px;

    }
    .header_subtitle {
        margin: 0 auto;
    }
    .header_main_txt {
        position: static;
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    .header_main_img {
        display: none;
    }
    .header_btn {
        margin: 20px auto; 
    }
    .trust {
        padding-bottom: 0px;
    }
    .about_us {
        position: relative;
    }
    .about_car_img {
        position: relative;
        margin-left: 40%;
        margin-top: 30%;
        width: 60%;
    }
    .about_us_txt {
        position: relative;
        width: 49%;
        margin-right: 40px;
        z-index: 10;
    }
    .about_p {
        width: 100%;
    }
    .work_txt {
        margin-top: 20px;
        font-size: 16px;
    }
    @media (max-width:767px) {
        .lock {
            overflow: hidden;
        }
        .order:nth-child(2) {order: 3;} 
        .order:nth-child(3) {order: 2;} 
        .header_burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
        }
        
        .header_burger:before,
        .header_burger:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        .header_burger span {
            position: absolute;
            background-color: #fff;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        .header_burger:before {
            top: 0;
        }
        .header_burger:after {
            bottom: 0;
        }
        .header_burger.turn:before {
            transform: rotate(45deg);
            top: 9px;
            
        }
        .header_burger.turn:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header_burger.turn span {
            transform: scale(0);
        }
        .header_burger.turn:after
        .header_burger.turn:after,
        .header_burger.turn:before {
            position: fixed;
        }
        .header_menu {
            display: block;
            position: fixed;
            transform: translateY(-100%);
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #2b2d2e;
            background-size: 100%;
            background-position: bottom;
            padding: 70px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            z-index: 2;
        }
        .header_menu.turn {
            transform: translateY(0%);
            top: 0;
        }
        .header_nav{
            margin-top: 50px;
            display: block;
            width: 100%;
            text-align: center;
        }
        .header_nav li a{
            width: 100%;
            overflow: hidden;
            font-size: 20px;
        }
        .header_nav li {
            margin: 0 0 20px 0;
        }
    }    
    @media (max-width:450px) {
        .container {
            width: 80%;
        }
        .header_subtitle {
            margin-bottom: 20px;
        }
        h1 {
            margin-top: -40px;
            margin-bottom: 10%;
            font-size: 32px;
            line-height: 1.2;
        }
        h2 {
            font-size: 35px;
            line-height: 1.2;
            margin-bottom: 5px;
        }
        .header_nav {
            flex-wrap: wrap;
        }
        .stage_items {
            flex-wrap: wrap;
        }
        .stage_item {
            width: 50%;
        }
        .about_us {
            padding: 30px 0px 0px 0px;
        }
        .about_img {
            display: none;
        }
        .about_us_txt {
            width: 100%;
        }
        .num {
            margin-top: 30px;
            font-size: 75px;
        }
        .work_txt {
            margin-top: 10px;
        }
    }
    @media (max-width:361px) {
        .call {
            flex-wrap: nowrap;
            font-size: 15px;
        }
        
    }
    
}
